src/saml2.metadata/Xsd/metadata4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" blockDefault="substitution" elementFormDefault="unqualified" targetNamespace="urn:oasis:names:tc:SAML:2.0:metadata" version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation> Document identifier: saml-schema-metadata-2.0 Location: http://docs.oasis-open.org/security/saml/v2.0/ Revision history: V2.0 (March, 2005): Schema for SAML metadata, first published in SAML 2.0. </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="entityIDType">
    <xs:restriction base="xs:anyURI">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="localizedNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="localizedURIType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute ref="xml:lang" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Extensions" type="md:ExtensionsType" />
  <xs:complexType name="ExtensionsType" final="#all">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndpointType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Binding" type="xs:anyURI" use="required" />
    <xs:attribute name="Location" type="xs:anyURI" use="required" />
    <xs:attribute name="ResponseLocation" type="xs:anyURI" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="IndexedEndpointType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:EndpointType">
        <xs:attribute name="index" type="xs:unsignedShort" use="required" />
        <xs:attribute name="isDefault" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntitiesDescriptor" type="md:EntitiesDescriptorType" />
  <xs:complexType name="EntitiesDescriptorType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Signature" />
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="md:EntityDescriptor" />
        <xs:element ref="md:EntitiesDescriptor" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="validUntil" type="xs:dateTime" use="optional" />
    <xs:attribute name="cacheDuration" type="xs:duration" use="optional" />
    <xs:attribute name="ID" type="xs:ID" use="optional" />
    <xs:attribute name="Name" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:element name="EntityDescriptor" type="md:EntityDescriptorType" />
  <xs:complexType name="EntityDescriptorType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Signature" />
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="md:RoleDescriptor" />
          <xs:element ref="md:IDPSSODescriptor" />
          <xs:element ref="md:SPSSODescriptor" />
          <xs:element ref="md:AuthnAuthorityDescriptor" />
          <xs:element ref="md:AttributeAuthorityDescriptor" />
          <xs:element ref="md:PDPDescriptor" />
        </xs:choice>
        <xs:element ref="md:AffiliationDescriptor" />
      </xs:choice>
      <xs:element minOccurs="0" ref="md:Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:ContactPerson" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AdditionalMetadataLocation" />
    </xs:sequence>
    <xs:attribute name="entityID" type="md:entityIDType" use="required" />
    <xs:attribute name="validUntil" type="xs:dateTime" use="optional" />
    <xs:attribute name="cacheDuration" type="xs:duration" use="optional" />
    <xs:attribute name="ID" type="xs:ID" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="Organization" type="md:OrganizationType" />
  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:element maxOccurs="unbounded" ref="md:OrganizationName" />
      <xs:element maxOccurs="unbounded" ref="md:OrganizationDisplayName" />
      <xs:element maxOccurs="unbounded" ref="md:OrganizationURL" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="OrganizationName" type="md:localizedNameType" />
  <xs:element name="OrganizationDisplayName" type="md:localizedNameType" />
  <xs:element name="OrganizationURL" type="md:localizedURIType" />
  <xs:element name="ContactPerson" type="md:ContactType" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:element minOccurs="0" ref="md:Company" />
      <xs:element minOccurs="0" ref="md:GivenName" />
      <xs:element minOccurs="0" ref="md:SurName" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:EmailAddress" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:TelephoneNumber" />
    </xs:sequence>
    <xs:attribute name="contactType" type="md:ContactTypeType" use="required" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="Company" type="xs:string" />
  <xs:element name="GivenName" type="xs:string" />
  <xs:element name="SurName" type="xs:string" />
  <xs:element name="EmailAddress" type="xs:anyURI" />
  <xs:element name="TelephoneNumber" type="xs:string" />
  <xs:simpleType name="ContactTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="technical" />
      <xs:enumeration value="support" />
      <xs:enumeration value="administrative" />
      <xs:enumeration value="billing" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdditionalMetadataLocation" type="md:AdditionalMetadataLocationType" />
  <xs:complexType name="AdditionalMetadataLocationType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="namespace" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="RoleDescriptor" type="md:RoleDescriptorType" />
  <xs:complexType name="RoleDescriptorType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Signature" />
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:KeyDescriptor" />
      <xs:element minOccurs="0" ref="md:Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:ContactPerson" />
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="optional" />
    <xs:attribute name="validUntil" type="xs:dateTime" use="optional" />
    <xs:attribute name="cacheDuration" type="xs:duration" use="optional" />
    <xs:attribute name="protocolSupportEnumeration" type="md:anyURIListType" use="required" />
    <xs:attribute name="errorURL" type="xs:anyURI" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="anyURIListType">
    <xs:list itemType="xs:anyURI" />
  </xs:simpleType>
  <xs:element name="KeyDescriptor" type="md:KeyDescriptorType" />
  <xs:complexType name="KeyDescriptorType">
    <xs:sequence>
      <xs:element ref="ds:KeyInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:EncryptionMethod" />
    </xs:sequence>
    <xs:attribute name="use" type="md:KeyTypes" use="optional" />
  </xs:complexType>
  <xs:simpleType name="KeyTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="encryption" />
      <xs:enumeration value="signing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EncryptionMethod" type="xenc:EncryptionMethodType" />
  <xs:complexType name="SSODescriptorType" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="md:RoleDescriptorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:ArtifactResolutionService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:SingleLogoutService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:ManageNameIDService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:NameIDFormat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtifactResolutionService" type="md:IndexedEndpointType" />
  <xs:element name="SingleLogoutService" type="md:EndpointType" />
  <xs:element name="ManageNameIDService" type="md:EndpointType" />
  <xs:element name="NameIDFormat" type="xs:anyURI" />
  <xs:element name="IDPSSODescriptor" type="md:IDPSSODescriptorType" />
  <xs:complexType name="IDPSSODescriptorType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:SSODescriptorType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="md:SingleSignOnService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:NameIDMappingService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AssertionIDRequestService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AttributeProfile" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:Attribute" />
        </xs:sequence>
        <xs:attribute name="WantAuthnRequestsSigned" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleSignOnService" type="md:EndpointType" />
  <xs:element name="NameIDMappingService" type="md:EndpointType" />
  <xs:element name="AssertionIDRequestService" type="md:EndpointType" />
  <xs:element name="AttributeProfile" type="xs:anyURI" />
  <xs:element name="SPSSODescriptor" type="md:SPSSODescriptorType" />
  <xs:complexType name="SPSSODescriptorType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:SSODescriptorType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="md:AssertionConsumerService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AttributeConsumingService" />
        </xs:sequence>
        <xs:attribute name="AuthnRequestsSigned" type="xs:boolean" use="optional" />
        <xs:attribute name="WantAssertionsSigned" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssertionConsumerService" type="md:IndexedEndpointType" />
  <xs:element name="AttributeConsumingService" type="md:AttributeConsumingServiceType" />
  <xs:complexType name="AttributeConsumingServiceType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="md:ServiceName" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:ServiceDescription" />
      <xs:element maxOccurs="unbounded" ref="md:RequestedAttribute" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedShort" use="required" />
    <xs:attribute name="isDefault" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:element name="ServiceName" type="md:localizedNameType" />
  <xs:element name="ServiceDescription" type="md:localizedNameType" />
  <xs:element name="RequestedAttribute" type="md:RequestedAttributeType" />
  <xs:complexType name="RequestedAttributeType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:AttributeType">
        <xs:attribute name="isRequired" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthnAuthorityDescriptor" type="md:AuthnAuthorityDescriptorType" />
  <xs:complexType name="AuthnAuthorityDescriptorType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:RoleDescriptorType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="md:AuthnQueryService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AssertionIDRequestService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:NameIDFormat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthnQueryService" type="md:EndpointType" />
  <xs:element name="PDPDescriptor" type="md:PDPDescriptorType" />
  <xs:complexType name="PDPDescriptorType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:RoleDescriptorType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="md:AuthzService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AssertionIDRequestService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:NameIDFormat" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthzService" type="md:EndpointType" />
  <xs:element name="AttributeAuthorityDescriptor" type="md:AttributeAuthorityDescriptorType" />
  <xs:complexType name="AttributeAuthorityDescriptorType">
    <xs:complexContent mixed="false">
      <xs:extension base="md:RoleDescriptorType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="md:AttributeService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AssertionIDRequestService" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:NameIDFormat" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:AttributeProfile" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:Attribute" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeService" type="md:EndpointType" />
  <xs:element name="AffiliationDescriptor" type="md:AffiliationDescriptorType" />
  <xs:complexType name="AffiliationDescriptorType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Signature" />
      <xs:element minOccurs="0" ref="md:Extensions" />
      <xs:element maxOccurs="unbounded" ref="md:AffiliateMember" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="md:KeyDescriptor" />
    </xs:sequence>
    <xs:attribute name="affiliationOwnerID" type="md:entityIDType" use="required" />
    <xs:attribute name="validUntil" type="xs:dateTime" use="optional" />
    <xs:attribute name="cacheDuration" type="xs:duration" use="optional" />
    <xs:attribute name="ID" type="xs:ID" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="AffiliateMember" type="md:entityIDType" />
  <xs:simpleType name="CryptoBinary">
    <xs:restriction base="xs:base64Binary" />
  </xs:simpleType>
  <xs:element name="Signature" type="ds:SignatureType" />
  <xs:complexType name="SignatureType">
    <xs:sequence>
      <xs:element ref="ds:SignedInfo" />
      <xs:element ref="ds:SignatureValue" />
      <xs:element minOccurs="0" ref="ds:KeyInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ds:Object" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="SignatureValue" type="ds:SignatureValueType" />
  <xs:complexType name="SignatureValueType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="Id" type="xs:ID" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="SignedInfo" type="ds:SignedInfoType" />
  <xs:complexType name="SignedInfoType">
    <xs:sequence>
      <xs:element ref="ds:CanonicalizationMethod" />
      <xs:element ref="ds:SignatureMethod" />
      <xs:element maxOccurs="unbounded" ref="ds:Reference" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="CanonicalizationMethod" type="ds:CanonicalizationMethodType" />
  <xs:complexType name="CanonicalizationMethodType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="SignatureMethod" type="ds:SignatureMethodType" />
  <xs:complexType name="SignatureMethodType" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="HMACOutputLength" type="ds:HMACOutputLengthType" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="Reference" type="ds:ReferenceType" />
  <xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Transforms" />
      <xs:element ref="ds:DigestMethod" />
      <xs:element ref="ds:DigestValue" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
    <xs:attribute name="URI" type="xs:anyURI" use="optional" />
    <xs:attribute name="Type" type="xs:anyURI" use="optional" />
  </xs:complexType>
  <xs:element name="Transforms" type="ds:TransformsType" />
  <xs:complexType name="TransformsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ds:Transform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transform" type="ds:TransformType" />
  <xs:complexType name="TransformType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax" />
      <xs:element name="XPath" type="xs:string" />
    </xs:choice>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="DigestMethod" type="ds:DigestMethodType" />
  <xs:complexType name="DigestMethodType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="DigestValue" type="ds:DigestValueType" />
  <xs:simpleType name="DigestValueType">
    <xs:restriction base="xs:base64Binary" />
  </xs:simpleType>
  <xs:element name="KeyInfo" type="ds:KeyInfoType" />
  <xs:complexType name="KeyInfoType" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="ds:KeyName" />
      <xs:element ref="ds:KeyValue" />
      <xs:element ref="ds:RetrievalMethod" />
      <xs:element ref="ds:X509Data" />
      <xs:element ref="ds:PGPData" />
      <xs:element ref="ds:SPKIData" />
      <xs:element ref="ds:MgmtData" />
      <xs:any namespace="##other" processContents="lax" />
    </xs:choice>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="KeyName" type="xs:string" />
  <xs:element name="MgmtData" type="xs:string" />
  <xs:element name="KeyValue" type="ds:KeyValueType" />
  <xs:complexType name="KeyValueType" mixed="true">
    <xs:choice>
      <xs:element ref="ds:DSAKeyValue" />
      <xs:element ref="ds:RSAKeyValue" />
      <xs:any namespace="##other" processContents="lax" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="RetrievalMethod" type="ds:RetrievalMethodType" />
  <xs:complexType name="RetrievalMethodType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Transforms" />
    </xs:sequence>
    <xs:attribute name="URI" type="xs:anyURI" />
    <xs:attribute name="Type" type="xs:anyURI" use="optional" />
  </xs:complexType>
  <xs:element name="X509Data" type="ds:X509DataType" />
  <xs:complexType name="X509DataType">
    <xs:sequence maxOccurs="unbounded">
      <xs:choice>
        <xs:element name="X509IssuerSerial" type="ds:X509IssuerSerialType" />
        <xs:element name="X509SKI" type="xs:base64Binary" />
        <xs:element name="X509SubjectName" type="xs:string" />
        <xs:element name="X509Certificate" type="xs:base64Binary" />
        <xs:element name="X509CRL" type="xs:base64Binary" />
        <xs:any namespace="##other" processContents="lax" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="X509IssuerSerialType">
    <xs:sequence>
      <xs:element name="X509IssuerName" type="xs:string" />
      <xs:element name="X509SerialNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PGPData" type="ds:PGPDataType" />
  <xs:complexType name="PGPDataType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="PGPKeyID" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="PGPKeyPacket" type="xs:base64Binary" />
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </xs:sequence>
      <xs:sequence>
        <xs:element name="PGPKeyPacket" type="xs:base64Binary" />
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="SPKIData" type="ds:SPKIDataType" />
  <xs:complexType name="SPKIDataType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="SPKISexp" type="xs:base64Binary" />
      <xs:any minOccurs="0" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Object" type="ds:ObjectType" />
  <xs:complexType name="ObjectType" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
    <xs:attribute name="MimeType" type="xs:string" use="optional" />
    <xs:attribute name="Encoding" type="xs:anyURI" use="optional" />
  </xs:complexType>
  <xs:element name="Manifest" type="ds:ManifestType" />
  <xs:complexType name="ManifestType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ds:Reference" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="SignatureProperties" type="ds:SignaturePropertiesType" />
  <xs:complexType name="SignaturePropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ds:SignatureProperty" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="SignatureProperty" type="ds:SignaturePropertyType" />
  <xs:complexType name="SignaturePropertyType" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax" />
    </xs:choice>
    <xs:attribute name="Target" type="xs:anyURI" use="required" />
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:simpleType name="HMACOutputLengthType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:element name="DSAKeyValue" type="ds:DSAKeyValueType" />
  <xs:complexType name="DSAKeyValueType">
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element name="P" type="ds:CryptoBinary" />
        <xs:element name="Q" type="ds:CryptoBinary" />
      </xs:sequence>
      <xs:element minOccurs="0" name="G" type="ds:CryptoBinary" />
      <xs:element name="Y" type="ds:CryptoBinary" />
      <xs:element minOccurs="0" name="J" type="ds:CryptoBinary" />
      <xs:sequence minOccurs="0">
        <xs:element name="Seed" type="ds:CryptoBinary" />
        <xs:element name="PgenCounter" type="ds:CryptoBinary" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSAKeyValue" type="ds:RSAKeyValueType" />
  <xs:complexType name="RSAKeyValueType">
    <xs:sequence>
      <xs:element name="Modulus" type="ds:CryptoBinary" />
      <xs:element name="Exponent" type="ds:CryptoBinary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncryptedType" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptionMethod" type="xenc:EncryptionMethodType" />
      <xs:element minOccurs="0" ref="ds:KeyInfo" />
      <xs:element ref="xenc:CipherData" />
      <xs:element minOccurs="0" ref="xenc:EncryptionProperties" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
    <xs:attribute name="Type" type="xs:anyURI" use="optional" />
    <xs:attribute name="MimeType" type="xs:string" use="optional" />
    <xs:attribute name="Encoding" type="xs:anyURI" use="optional" />
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <div xmlns="http://www.w3.org/1999/xhtml">
        <h1>About the XML namespace</h1>
        <div class="bodytext">
          <p>
      This schema document describes the XML namespace, in a form
      suitable for import by other schema documents.
     </p>
          <p>
      See <a href="http://www.w3.org/XML/1998/namespace.html">
      http://www.w3.org/XML/1998/namespace.html</a> and
      <a href="http://www.w3.org/TR/REC-xml">
      http://www.w3.org/TR/REC-xml</a> for information 
      about this namespace.
     </p>
          <p>
      Note that local names in this namespace are intended to be
      defined only by the World Wide Web Consortium or its subgroups.
      The names currently defined in this namespace are listed below.
      They should not be used with conflicting semantics by any Working
      Group, specification, or document instance.
     </p>
          <p>   
      See further below in this document for more information about <a href="#usage">how to refer to this schema document from your own
      XSD schema documents</a> and about <a href="#nsversioning">the
      namespace-versioning policy governing this schema document</a>.
     </p>
        </div>
      </div>
    </xs:documentation>
  </xs:annotation>
  <xs:attribute name="lang">
    <xs:annotation>
      <xs:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3>lang (as an attribute name)</h3>
          <p>
       denotes an attribute whose value
       is a language code for the natural language of the content of
       any element; its value is inherited.  This name is reserved
       by virtue of its definition in the XML specification.</p>
        </div>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h4>Notes</h4>
          <p>
      Attempting to install the relevant ISO 2- and 3-letter
      codes as the enumerated possible values is probably never
      going to be a realistic possibility.  
     </p>
          <p>
      See BCP 47 at <a href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">
       http://www.rfc-editor.org/rfc/bcp/bcp47.txt</a>
      and the IANA language subtag registry at
      <a href="http://www.iana.org/assignments/language-subtag-registry">
       http://www.iana.org/assignments/language-subtag-registry</a>
      for further information.
     </p>
          <p>
      The union allows for the 'un-declaration' of xml:lang with
      the empty string.
     </p>
        </div>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:union memberTypes="xs:language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="" />
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="space">
    <xs:annotation>
      <xs:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3>space (as an attribute name)</h3>
          <p>
       denotes an attribute whose
       value is a keyword indicating what whitespace processing
       discipline is intended for the content of the element; its
       value is inherited.  This name is reserved by virtue of its
       definition in the XML specification.</p>
        </div>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="default" />
        <xs:enumeration value="preserve" />
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="base" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3>base (as an attribute name)</h3>
          <p>
       denotes an attribute whose value
       provides a URI to be used as the base for interpreting any
       relative URIs in the scope of the element on which it
       appears; its value is inherited.  This name is reserved
       by virtue of its definition in the XML Base specification.</p>
          <p>
      See <a href="http://www.w3.org/TR/xmlbase/">http://www.w3.org/TR/xmlbase/</a>
      for information about this attribute.
     </p>
        </div>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="id" type="xs:ID">
    <xs:annotation>
      <xs:documentation>
        <div xmlns="http://www.w3.org/1999/xhtml">
          <h3>id (as an attribute name)</h3>
          <p>
       denotes an attribute whose value
       should be interpreted as if declared to be of type ID.
       This name is reserved by virtue of its definition in the
       xml:id specification.</p>
          <p>
      See <a href="http://www.w3.org/TR/xml-id/">http://www.w3.org/TR/xml-id/</a>
      for information about this attribute.
     </p>
        </div>
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attributeGroup name="specialAttrs">
    <xs:attribute ref="xml:base" />
    <xs:attribute ref="xml:lang" />
    <xs:attribute ref="xml:space" />
    <xs:attribute ref="xml:id" />
  </xs:attributeGroup>
  <xs:annotation>
    <xs:documentation>
      <div xmlns="http://www.w3.org/1999/xhtml">
        <h3>Father (in any context at all)</h3>
        <div class="bodytext">
          <p>
      denotes Jon Bosak, the chair of 
      the original XML Working Group.  This name is reserved by 
      the following decision of the W3C XML Plenary and 
      XML Coordination groups:
     </p>
          <blockquote>
            <p>
	In appreciation for his vision, leadership and
	dedication the W3C XML Plenary on this 10th day of
	February, 2000, reserves for Jon Bosak in perpetuity
	the XML name "xml:Father".
       </p>
          </blockquote>
        </div>
      </div>
    </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>
      <div xml:id="usage" id="usage" xmlns="http://www.w3.org/1999/xhtml">
        <h2>
          <a name="usage">About this schema document</a>
        </h2>
        <div class="bodytext">
          <p>
      This schema defines attributes and an attribute group suitable
      for use by schemas wishing to allow <code>xml:base</code>,
      <code>xml:lang</code>, <code>xml:space</code> or
      <code>xml:id</code> attributes on elements they define.
     </p>
          <p>
      To enable this, such a schema must import this schema for
      the XML namespace, e.g. as follows:
     </p>
          <pre>
          &lt;schema . . .&gt;
           . . .
           &lt;import namespace="http://www.w3.org/XML/1998/namespace"
                      schemaLocation="http://www.w3.org/2001/xml.xsd"/&gt;
     </pre>
          <p>
      or
     </p>
          <pre>
           &lt;import namespace="http://www.w3.org/XML/1998/namespace"
                      schemaLocation="http://www.w3.org/2009/01/xml.xsd"/&gt;
     </pre>
          <p>
      Subsequently, qualified reference to any of the attributes or the
      group defined below will have the desired effect, e.g.
     </p>
          <pre>
          &lt;type . . .&gt;
           . . .
           &lt;attributeGroup ref="xml:specialAttrs"/&gt;
     </pre>
          <p>
      will define a type which will schema-validate an instance element
      with any of those attributes.
     </p>
        </div>
      </div>
    </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>
      <div id="nsversioning" xml:id="nsversioning" xmlns="http://www.w3.org/1999/xhtml">
        <h2>
          <a name="nsversioning">Versioning policy for this schema document</a>
        </h2>
        <div class="bodytext">
          <p>
      In keeping with the XML Schema WG's standard versioning
      policy, this schema document will persist at
      <a href="http://www.w3.org/2009/01/xml.xsd">
       http://www.w3.org/2009/01/xml.xsd</a>.
     </p>
          <p>
      At the date of issue it can also be found at
      <a href="http://www.w3.org/2001/xml.xsd">
       http://www.w3.org/2001/xml.xsd</a>.
     </p>
          <p>
      The schema document at that URI may however change in the future,
      in order to remain compatible with the latest version of XML
      Schema itself, or with the XML namespace itself.  In other words,
      if the XML Schema or XML namespaces change, the version of this
      document at <a href="http://www.w3.org/2001/xml.xsd">
       http://www.w3.org/2001/xml.xsd 
      </a> 
      will change accordingly; the version at 
      <a href="http://www.w3.org/2009/01/xml.xsd">
       http://www.w3.org/2009/01/xml.xsd 
      </a> 
      will not change.
     </p>
          <p>
      Previous dated (and unchanging) versions of this schema 
      document are at:
     </p>
          <ul>
            <li>
              <a href="http://www.w3.org/2009/01/xml.xsd">
	http://www.w3.org/2009/01/xml.xsd</a>
            </li>
            <li>
              <a href="http://www.w3.org/2007/08/xml.xsd">
	http://www.w3.org/2007/08/xml.xsd</a>
            </li>
            <li>
              <a href="http://www.w3.org/2004/10/xml.xsd">
	http://www.w3.org/2004/10/xml.xsd</a>
            </li>
            <li>
              <a href="http://www.w3.org/2001/03/xml.xsd">
	http://www.w3.org/2001/03/xml.xsd</a>
            </li>
          </ul>
        </div>
      </div>
    </xs:documentation>
  </xs:annotation>
  <xs:complexType name="EncryptionMethodType" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeySize" type="xenc:KeySizeType" />
      <xs:element minOccurs="0" name="OAEPparams" type="xs:base64Binary" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:simpleType name="KeySizeType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:element name="CipherData" type="xenc:CipherDataType" />
  <xs:complexType name="CipherDataType">
    <xs:choice>
      <xs:element name="CipherValue" type="xs:base64Binary" />
      <xs:element ref="xenc:CipherReference" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="CipherReference" type="xenc:CipherReferenceType" />
  <xs:complexType name="CipherReferenceType">
    <xs:choice>
      <xs:element minOccurs="0" name="Transforms" type="xenc:TransformsType" />
    </xs:choice>
    <xs:attribute name="URI" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:complexType name="TransformsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ds:Transform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedData" type="xenc:EncryptedDataType" />
  <xs:complexType name="EncryptedDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="xenc:EncryptedType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncryptedKey" type="xenc:EncryptedKeyType" />
  <xs:complexType name="EncryptedKeyType">
    <xs:complexContent mixed="false">
      <xs:extension base="xenc:EncryptedType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="xenc:ReferenceList" />
          <xs:element minOccurs="0" name="CarriedKeyName" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="Recipient" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgreementMethod" type="xenc:AgreementMethodType" />
  <xs:complexType name="AgreementMethodType" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="KA-Nonce" type="xs:base64Binary" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
      <xs:element minOccurs="0" name="OriginatorKeyInfo" type="ds:KeyInfoType" />
      <xs:element minOccurs="0" name="RecipientKeyInfo" type="ds:KeyInfoType" />
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="ReferenceList">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="DataReference" type="xenc:ReferenceType" />
        <xs:element name="KeyReference" type="xenc:ReferenceType" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
    <xs:attribute name="URI" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="EncryptionProperties" type="xenc:EncryptionPropertiesType" />
  <xs:complexType name="EncryptionPropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="xenc:EncryptionProperty" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:element name="EncryptionProperty" type="xenc:EncryptionPropertyType" />
  <xs:complexType name="EncryptionPropertyType" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax" />
    </xs:choice>
    <xs:attribute name="Target" type="xs:anyURI" use="optional" />
    <xs:attribute name="Id" type="xs:ID" use="optional" />
    <xs:anyAttribute namespace="http://www.w3.org/XML/1998/namespace" />
  </xs:complexType>
  <xs:element name="DHKeyValue" type="xenc:DHKeyValueType" />
  <xs:complexType name="DHKeyValueType">
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element name="P" type="ds:CryptoBinary" />
        <xs:element name="Q" type="ds:CryptoBinary" />
        <xs:element name="Generator" type="ds:CryptoBinary" />
      </xs:sequence>
      <xs:element name="Public" type="ds:CryptoBinary" />
      <xs:sequence minOccurs="0">
        <xs:element name="seed" type="ds:CryptoBinary" />
        <xs:element name="pgenCounter" type="ds:CryptoBinary" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation> Document identifier: saml-schema-assertion-2.0 Location: http://docs.oasis-open.org/security/saml/v2.0/ Revision history: V1.0 (November, 2002): Initial Standard Schema. V1.1 (September, 2003): Updates within the same V1.0 namespace. V2.0 (March, 2005): New assertion schema for SAML V2.0 namespace. </xs:documentation>
  </xs:annotation>
  <xs:attributeGroup name="IDNameQualifiers">
    <xs:attribute name="NameQualifier" type="xs:string" use="optional" />
    <xs:attribute name="SPNameQualifier" type="xs:string" use="optional" />
  </xs:attributeGroup>
  <xs:element name="BaseID" type="saml:BaseIDAbstractType" />
  <xs:complexType name="BaseIDAbstractType" abstract="true">
    <xs:attributeGroup ref="saml:IDNameQualifiers" />
  </xs:complexType>
  <xs:element name="NameID" type="saml:NameIDType" />
  <xs:complexType name="NameIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="saml:IDNameQualifiers" />
        <xs:attribute name="Format" type="xs:anyURI" use="optional" />
        <xs:attribute name="SPProvidedID" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EncryptedElementType">
    <xs:sequence>
      <xs:element ref="xenc:EncryptedData" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xenc:EncryptedKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptedID" type="saml:EncryptedElementType" />
  <xs:element name="Issuer" type="saml:NameIDType" />
  <xs:element name="AssertionIDRef" type="xs:NCName" />
  <xs:element name="AssertionURIRef" type="xs:anyURI" />
  <xs:element name="Assertion" type="saml:AssertionType" />
  <xs:complexType name="AssertionType">
    <xs:sequence>
      <xs:element ref="saml:Issuer" />
      <xs:element minOccurs="0" ref="ds:Signature" />
      <xs:element minOccurs="0" ref="saml:Subject" />
      <xs:element minOccurs="0" ref="saml:Conditions" />
      <xs:element minOccurs="0" ref="saml:Advice" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="saml:Statement" />
        <xs:element ref="saml:AuthnStatement" />
        <xs:element ref="saml:AuthzDecisionStatement" />
        <xs:element ref="saml:AttributeStatement" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string" use="required" />
    <xs:attribute name="ID" type="xs:ID" use="required" />
    <xs:attribute name="IssueInstant" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:element name="Subject" type="saml:SubjectType" />
  <xs:complexType name="SubjectType">
    <xs:choice>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="saml:BaseID" />
          <xs:element ref="saml:NameID" />
          <xs:element ref="saml:EncryptedID" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:SubjectConfirmation" />
      </xs:sequence>
      <xs:element maxOccurs="unbounded" ref="saml:SubjectConfirmation" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="SubjectConfirmation" type="saml:SubjectConfirmationType" />
  <xs:complexType name="SubjectConfirmationType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element ref="saml:BaseID" />
        <xs:element ref="saml:NameID" />
        <xs:element ref="saml:EncryptedID" />
      </xs:choice>
      <xs:element minOccurs="0" ref="saml:SubjectConfirmationData" />
    </xs:sequence>
    <xs:attribute name="Method" type="xs:anyURI" use="required" />
  </xs:complexType>
  <xs:element name="SubjectConfirmationData" type="saml:SubjectConfirmationDataType" />
  <xs:complexType name="SubjectConfirmationDataType" mixed="true">
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
        </xs:sequence>
        <xs:attribute name="NotBefore" type="xs:dateTime" use="optional" />
        <xs:attribute name="NotOnOrAfter" type="xs:dateTime" use="optional" />
        <xs:attribute name="Recipient" type="xs:anyURI" use="optional" />
        <xs:attribute name="InResponseTo" type="xs:NCName" use="optional" />
        <xs:attribute name="Address" type="xs:string" use="optional" />
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KeyInfoConfirmationDataType">
    <xs:complexContent mixed="false">
      <xs:restriction base="saml:SubjectConfirmationDataType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="ds:KeyInfo" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Conditions" type="saml:ConditionsType" />
  <xs:complexType name="ConditionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="saml:Condition" />
      <xs:element ref="saml:AudienceRestriction" />
      <xs:element ref="saml:OneTimeUse" />
      <xs:element ref="saml:ProxyRestriction" />
    </xs:choice>
    <xs:attribute name="NotBefore" type="xs:dateTime" use="optional" />
    <xs:attribute name="NotOnOrAfter" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:element name="Condition" type="saml:ConditionAbstractType" />
  <xs:complexType name="ConditionAbstractType" abstract="true" />
  <xs:element name="AudienceRestriction" type="saml:AudienceRestrictionType" />
  <xs:complexType name="AudienceRestrictionType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:ConditionAbstractType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="saml:Audience" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Audience" type="xs:anyURI" />
  <xs:element name="OneTimeUse" type="saml:OneTimeUseType" />
  <xs:complexType name="OneTimeUseType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:ConditionAbstractType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProxyRestriction" type="saml:ProxyRestrictionType" />
  <xs:complexType name="ProxyRestrictionType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:ConditionAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:Audience" />
        </xs:sequence>
        <xs:attribute name="Count" type="xs:nonNegativeInteger" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Advice" type="saml:AdviceType" />
  <xs:complexType name="AdviceType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="saml:AssertionIDRef" />
      <xs:element ref="saml:AssertionURIRef" />
      <xs:element ref="saml:Assertion" />
      <xs:element ref="saml:EncryptedAssertion" />
      <xs:any namespace="##other" processContents="lax" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="EncryptedAssertion" type="saml:EncryptedElementType" />
  <xs:element name="Statement" type="saml:StatementAbstractType" />
  <xs:complexType name="StatementAbstractType" abstract="true" />
  <xs:element name="AuthnStatement" type="saml:AuthnStatementType" />
  <xs:complexType name="AuthnStatementType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:StatementAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="saml:SubjectLocality" />
          <xs:element ref="saml:AuthnContext" />
        </xs:sequence>
        <xs:attribute name="AuthnInstant" type="xs:dateTime" use="required" />
        <xs:attribute name="SessionIndex" type="xs:string" use="optional" />
        <xs:attribute name="SessionNotOnOrAfter" type="xs:dateTime" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubjectLocality" type="saml:SubjectLocalityType" />
  <xs:complexType name="SubjectLocalityType">
    <xs:attribute name="Address" type="xs:string" use="optional" />
    <xs:attribute name="DNSName" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:element name="AuthnContext" type="saml:AuthnContextType" />
  <xs:complexType name="AuthnContextType">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="saml:AuthnContextClassRef" />
          <xs:choice minOccurs="0">
            <xs:element ref="saml:AuthnContextDecl" />
            <xs:element ref="saml:AuthnContextDeclRef" />
          </xs:choice>
        </xs:sequence>
        <xs:choice>
          <xs:element ref="saml:AuthnContextDecl" />
          <xs:element ref="saml:AuthnContextDeclRef" />
        </xs:choice>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:AuthenticatingAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthnContextClassRef" type="xs:anyURI" />
  <xs:element name="AuthnContextDeclRef" type="xs:anyURI" />
  <xs:element name="AuthnContextDecl" type="xs:anyType" />
  <xs:element name="AuthenticatingAuthority" type="xs:anyURI" />
  <xs:element name="AuthzDecisionStatement" type="saml:AuthzDecisionStatementType" />
  <xs:complexType name="AuthzDecisionStatementType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:StatementAbstractType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="saml:Action" />
          <xs:element minOccurs="0" ref="saml:Evidence" />
        </xs:sequence>
        <xs:attribute name="Resource" type="xs:anyURI" use="required" />
        <xs:attribute name="Decision" type="saml:DecisionType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DecisionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Permit" />
      <xs:enumeration value="Deny" />
      <xs:enumeration value="Indeterminate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Action" type="saml:ActionType" />
  <xs:complexType name="ActionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Namespace" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Evidence" type="saml:EvidenceType" />
  <xs:complexType name="EvidenceType">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="saml:AssertionIDRef" />
      <xs:element ref="saml:AssertionURIRef" />
      <xs:element ref="saml:Assertion" />
      <xs:element ref="saml:EncryptedAssertion" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="AttributeStatement" type="saml:AttributeStatementType" />
  <xs:complexType name="AttributeStatementType">
    <xs:complexContent mixed="false">
      <xs:extension base="saml:StatementAbstractType">
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="saml:Attribute" />
          <xs:element ref="saml:EncryptedAttribute" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Attribute" type="saml:AttributeType" />
  <xs:complexType name="AttributeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="saml:AttributeValue" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="NameFormat" type="xs:anyURI" use="optional" />
    <xs:attribute name="FriendlyName" type="xs:string" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:element name="AttributeValue" nillable="true" type="xs:anyType" />
  <xs:element name="EncryptedAttribute" type="saml:EncryptedElementType" />
</xs:schema>